body {
    background: #0b0b0b;
    color: white;
    margin-left: 16px;
    border: solid rgb(47, 51, 54);
    font-family: Arial;
}

.wd-top-panel {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
}

.wd-explore-search {
    width: 85%;
    height: 40px;
    border-radius: 50px;
    border: solid rgb(47, 51, 54);
    background: darkgray;
    color: white;
}

.wd-explore-search::placeholder {
    padding-left: 40px;
    font-weight: bold;
    color: rgb(110, 118, 125);
}

.wd-settings-icon {
    margin-top: 15px;
    background: #0b0b0b;
    width: 24px;
    height: 24px;
}

.wd-explore-tab {
    color: rgb(110, 118, 125);
    font-size: 15px;
    padding: 16px;
}

.wd-selected-tab {
    color: rgb(29, 161, 242);
    border-bottom: solid rgb(29, 161, 242);
    border-bottom-width: 4px;
    padding-bottom: 20px;
}

.wd-explore-tabs {
    margin: 50px 0px 0px 0px;
    justify-content: space-around;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

@media (max-width: 500px) {
    .flex-container {
        flex-direction: column;
    }
}



.wd-border {
    border: solid rgb(47, 51, 54);
}

.wd-blank-space {
    background: #282c34;
    width: 100%;
    height: 15px;
}

.wd-post {
    padding: 20px;
    border-bottom: solid rgb(47, 51, 54);
}

.wd-post-custom-font {
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-post-img {
    width: 100px;
    height: 100px;
    margin-right: 16px;
    border-radius: 15px;
}

.wd-logo {
    width: 45px;
    height: 40px;
    position: relative;
    top: 12px;
    right: 5px;
}

.grid-row {
    clear: both;
}

.grid-col-half-page {
    width: 50%;
    float: left;
}

.grid-col-third-page {
    width: 33%;
    float: left;
}

.grid-col-two-thirds-page {
    width: 67%;
    float: left;
}

