body {
    font-family: Arial;
    background-color: #0b0b0b;
    color: white;
    /*border: solid lightgray;*/
}

.nav-tabs {
    justify-content: space-between;
    justify-items: center;
}

.wd-explore-selected {
    background-color: #0b0b0b;
    color: white;
}

.wd-spacex {
    width: 100%;
}

.wd-searchPanel {
    display: flex;
    max-width: 760px;
}

.wd-searchbar {
    margin-left: 15px;
    background-color: #202327;
    border-color: #202327;
}

.wd-searchbar::placeholder {
    position: absolute;
    left: 70px;
    /*color: grey;*/
    /*padding-left: 500px;*/
}

.wd-searchIcon {
    position: absolute;
    top: 10px;
    left: 35px;
}

.wd-settings {
    justify-items: right;
}

.wd-settingsIcon {
    position: relative;
    /*justify-content: end;*/
    justify-items: left;
    right: 0px;
    top: 7px;
    padding-left: 20px;

}

.wd-acc-img {
    max-width: 60px;
    max-height: 60px;
}

.wd-bg-darkgrey {
    background-color: #16181C;
    color: white;
}

.wd-bg-black {
    background-color: #0b0b0b;
}

.wd-entertainment-tab {
    border-bottom: solid #1DA1F2 5px;
    color: white;
}

.btn-primary {
    background-color: #1DA1F2;
}

.wd-follow-btn {
    background-color: #EFF3F4;
    color: #0b0b0b;
}

.wd-show-more {
    color: #1DA1F2;
    text-decoration: none;
}

.wd-times-logo {
    max-width: 2rem;
}


/*.list-group{*/
/*    display:inline-block;*/
/*}*/