.spacex {
    width: 100%;
}

.searchbar::placeholder {
    position: absolute;
    left: 50px;
}

.searchIcon {
    position: absolute;
    top: 10px;
    left: 15px;
}

.settingsIcon {
    position: relative;
    right: 0;
    top: 5px;
}

.list-group-item {

    overflow: clip;
}